<% unless project.nil? %>
   <section class="project_header">
      <ol class="projects">
	 <%= render project %>
      </ol>
   </section>
<% end %>
<section class="project_body">
   <ul class="nav nav-pills nav-stacked">
      <% if not project.nil? and project.ref_datasets.any? %>
	 <li class="<%= "active" if ref_datasets %>">
	    <%= link_to project_reference_datasets_path(project.id) do %>
	       Reference datasets <span class="badge"><%= ds_counts[:ref] %></span>
	    <% end %>
	 </li>
      <% end %>
      <li class="<%= "active" if qry_datasets and not params[:ready] %>">
	 <%= link_to (project.nil? ? query_datasets_path :
	    project_query_datasets_path(project_id: project.id)) do %>
	    Query datasets <span class="badge"><%= ds_counts[:qry] %></span>
	 <% end %>
      </li>
      <li class="<%= "active" if qry_datasets and params[:ready]=="no" %>">
	 <%= link_to (project.nil? ? query_datasets_ready_path(ready: "no") :
	       project_query_datasets_ready_path(project_id: project.id, ready: "no")) do %>
	    <i class="glyphicon glyphicon-menu-right"> </i>
	    Running <span class="badge"><%= ds_counts[:qry_no] %></span>
	 <% end %>
      </li>
      <li class="<%= "active" if qry_datasets and params[:ready]=="yes" %>">
	 <%= link_to (project.nil? ? query_datasets_ready_path(ready: "yes") :
	       project_query_datasets_ready_path(project_id: project.id, ready: "yes")) do %>
	    <i class="glyphicon glyphicon-menu-right"> </i>
	    Complete <span class="badge"><%= ds_counts[:qry_yes] %></span>
	 <% end %>
      </li>
   </ul>
   <br/>
   <% unless project.nil? %>
      <%= link_to "Upload new dataset",
	 new_query_dataset_path(project_id: project.id), class: "btn btn-primary btn-block" %>
   <% end %>
</section>
<% if current_user.admin? and not project.nil? %>
   <section>
      <%= link_to "Remove project", project, method: :delete, class: "btn btn-warning btn-block",
	 data: { confirm: "Are you sure? This action cannot be undone" } %>
   </section>
<% end %>
