<%= provide(:title, "New query dataset") %>
<h1>New query dataset</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="projects"><%= render @project %></div>
    <hr/>
    <%= form_for(@query_dataset, html: { multipart: true }) do |f| %>
      <%= render "shared/error_messages", object: f.object %>
         
      <% if current_user.nil? %>
        <!--
        <div class="alert alert-warning">
          You're currently not logged in. Datasets created without an associated
          user can be purged by administrators without warning. If you find this
          undesirable, please <%= link_to "log in", login_url %>.
        </div>
        -->
        <div class="alert alert-info">
          You're currently not logged in, your analyses will be anonymous.
          Remember to store or bookmark the URL of the results page for your
          new dataset.
        </div>
        <%= f.hidden_field :user_id, value: 0 %>
      <% else %>
        <%= f.hidden_field :user_id, value: current_user.id %>
      <% end %>
      <%= f.hidden_field :project_id, value: @project.id %>
         
      <%= f.label :name %>
      <%= f.text_field :name, class: "form-control" %>
      <p class=help-block>Dataset names can only contain alphanumerics and
        underscores.</p>

      <%= label_tag :type, "Type of dataset" %>
      <%= select_tag(:type,
        options_for_select(
          MiGA::Dataset.KNOWN_TYPES.
            map{ |k,t|
              [
                k.to_s.capitalize + ": " + t[:description], k
              ] if @project.miga.is_multi? or !t[:multi]
            }.compact ), class: "form-control") %>

      <%= f.label :input_type, "Type of input" %>
      <%= f.collection_select(:input_type,
        [[:raw_reads, "Raw reads in FastQ format."],
          [:trimmed_fasta, "Trimmed reads in FastA format."],
          [:assembly, "Assembly in FastA format."]],
        :first, :last, {selected: :assembly}, { class: "form-control" }) %>
      <%= f.label :input_file, "Input file(s)" %>
      <%= f.file_field :input_file, class: "form-control" %>
      <%= f.file_field :input_file_2, class: "form-control" %>
         
      <hr/>
      <h1>Optional information</h1>
      <%= label_tag :description, "Description" %>
      <%= text_field_tag :description, "", class: "form-control" %>

      <%= label_tag :comments, "Comments" %>
      <%= text_area_tag :comments, "", class: "form-control" %>

      <%= f.submit "Upload new dataset", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
