<% provide(:title, @query_dataset.name.unmiga_name) %>
<% provide(:breadcrumb_1, link_to("Projects", projects_path)) %>
<% provide(:breadcrumb_2, link_to(
  truncate(@query_dataset.project.path_name, length:15),
  @query_dataset.project)) %>
<div class="row query_dataset">
  <aside class="col-md-4">
    <section class="query_dataset_info">
      <ul class="query_datasets">
        <%= render @query_dataset %>
      </ul>
      <% type = @query_dataset.miga.metadata[:type] unless
              @query_dataset.miga.nil? %>
      <% unless type.nil? %>
        <p><%=  @query_dataset.name.unmiga_name %> is a <b><%= type %></b>:
          <%= MiGA::Dataset.KNOWN_TYPES[type][:description] %></p>
      <% end %>
      <% unless @query_dataset.miga.metadata[:comments].nil? %>
        <p class='alert alert-info'>
          <%= @query_dataset.miga.metadata[:comments] %>
        </p>
      <% end %>
      <% unless @query_dataset.miga.metadata[:warn].nil? %>
        <p class='alert alert-danger'>
          <%= @query_dataset.miga.metadata[:warn] %>
        </p>
      <% end %>
    </section>
    <section class="query_dataset_settings">
      <%= link_to "Mark dataset as unseen",
        query_dataset_mark_unread_url(@query_dataset),
        method: :post, class: "btn btn-block btn-default" %>
      <%= link_to "Remove dataset", @query_dataset,
        method: :delete, class: "btn btn-block btn-warning",
        data: { confirm: "Are you sure? This action cannot be undone." } %>
    </section>
  </aside>
  <div class="col-md-8">
    <% unless @query_dataset.miga.is_active? %>
      <br/>
      <div class='alert alert-warning'>
        <h3>Dataset inactive</h3>
        <p>This dataset was inactivated by the system due to an excessive
        number of errors. If you believe this is a mistake, please contact
        the administrators to reactivate the dataset.</p>
      </div>
      <br/>
    <% end %>

    <% unless @query_dataset.ready? and @query_dataset.miga.is_active? %>
      <%= render partial: "shared/partial_result",
        locals: { obj:@query_dataset,
        key:@query_dataset.miga.next_preprocessing } %>
    <% end %>


    <% results_to_load = [] %>
    <% MiGA::Dataset.RESULT_DIRS.keys.reverse_each do |k| %>
      <% if res = @query_dataset.miga.result(k) %>
        <div id="query_dataset_result_<%= k %>_<%= @query_dataset.id %>">
          <h3 class="result-title">
            <i class="glyphicon glyphicon-tasks"> </i>
            <%= image_tag("loading.gif") %>
            <%= k.to_s.unmiga_name.capitalize %>
          </h3>
        </div>
        <% results_to_load << k %>
      <% end %>
    <% end %>
    <script>
      <% results_to_load.each do |k| %>
        $.ajax(
          { url: "<%= project_result_partial_path(
            @query_dataset.project, k, {q_ds: @query_dataset.id}) %>" }
        ).done(function(data){
          $("#query_dataset_result_<%= k %>_<%= @query_dataset.id %>").
            html(data) });
      <% end %>
    </script>
    <% unless @query_dataset.run_mytaxa_scan? %>
      <br/><br/>
      <%= link_to "Execute MyTaxa scan analysis",
        query_dataset_run_mytaxa_scan_path(@query_dataset.id),
        type: "button", class: "btn btn-default btn-block" %>
    <% end %>
  </div>
</div>
