<% provide(:title, @query_dataset.name.unmiga_name) %>
<% provide(:breadcrumb_1, link_to("Projects", projects_path)) %>
<% provide(:breadcrumb_2, link_to(
  truncate(@query_dataset.project.path_name, length:15),
  @query_dataset.project)) %>
<div class="row query_dataset">
  <aside class="col-md-4">
    <section class="query_dataset_info">
      <ul class="query_datasets">
        <%= render @query_dataset %>
      </ul>
      <% type = @query_dataset.miga.metadata[:type] unless
              @query_dataset.miga.nil? %>
      <% unless type.nil? %>
        <p><%=  @query_dataset.name.unmiga_name %> is a <b><%= type %></b>:
          <%= MiGA::Dataset.KNOWN_TYPES[type][:description] %></p>
      <% end %>
    </section>
    <section class="query_dataset_settings">
      <%= link_to "Remove dataset", @query_dataset,
        method: :delete, class: "btn btn-block btn-warning",
        data: { confirm: "Are you sure? This action cannot be undone." } %>
    </section>
  </aside>
  <div class="col-md-8">
    <% unless @query_dataset.ready? %>
      <%= render partial: "shared/partial_result",
        locals: { obj:@query_dataset,
        key:@query_dataset.miga.next_preprocessing } %>
    <% end %>

    <% MiGA::Dataset.RESULT_DIRS.keys.reverse_each do |k| %>
      <% if res = @query_dataset.miga.result(k) %>
        <%= render partial: "shared/result",
          locals: { res:res, obj:@query_dataset, key:k } %>
      <% end %>
    <% end %>
    <% unless @query_dataset.run_mytaxa_scan? %>
      <br/><br/>
      <%= link_to "Execute MyTaxa scan analysis",
        query_dataset_run_mytaxa_scan_path(@query_dataset.id),
        type: "button", class: "btn btn-default btn-block" %>
    <% end %>
  </div>
</div>
