<%
  noname ||= false
  no_body ||= false
  no_actions ||= false
  expand_side ||= false
  query_dataset ||= nil
  show_status ||= false
  isref = query_dataset.nil?
  locals = {
    project: project, dataset: dataset, query_dataset: query_dataset
  }
  partial = expand_side ? 'datasets/side' :
            show_status ? 'datasets/instatus' :
            isref ? 'datasets/intax' : 'datasets/instatus'
%>
<% if noname %>
  <%= render(partial: partial, locals: locals) unless no_body %>
<% else %>
  <div class="card card-dataset <%= isref ? 'reference' : 'query' %>-dataset">
    <div class="card-header">
      <%= project_code(project) %>
      <% if dataset.nil? %>
        <div class="dataset-name text-danger">Missing dataset</div>
      <% else %>
        <% if query_dataset.try(:complete_new?) %>
          <%= fa_icon('circle', class: 'text-info mr-1', title: 'Unseen') %>
        <% end %>
        <div class="dataset-name">
          <% if isref %>
            <%= link_to_reference_dataset(project, dataset.name) %>
          <% else %>
            <%= link_to(query_dataset.name.unmiga_name, query_dataset) %>
          <% end %>
        </div>
        <div class="dataset-actions actions float-right">
          <% if !no_actions && (
                  (isref && can?(:edit, project)) ||
                  (!isref && can?(:delete, query_dataset))
                ) %>
            <%=
              link_to(
                isref ?
                  delete_ref_dataset_path(id: project.id, name: dataset.name) :
                  query_dataset,
                method: :delete, title: 'Delete dataset',
                data: {
                  confirm: 'Are you sure? This action cannot be undone'
                },
                class: 'btn text-danger btn-sm', type: 'button'
              ) do
            %>
              <%= fa_icon('trash-alt')%>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="card-body">
      <%= render(partial: partial, locals: locals) unless no_body %>
      <% if dataset&.metadata&.[](:updated) %>
        <% date = DateTime.parse(dataset.metadata[:updated]) %>
        <div class="timestamp float-right" title="<%= date %>">
          <%= fa_icon(:history) %><%= time_ago_in_words(date) %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>


