<div class='dataset-item reference-dataset'>
  <% noname ||= false %>
  <% expand_side ||= false %>
  <% unless noname %>
    <% unless dataset.nil? %>
      <%= link_to(delete_ref_dataset_path(id: project.id, name: dataset.name),
            method: :delete, title: 'Delete dataset',
            data: { confirm: 'Are you sure? This action cannot be undone.' },
            class: 'pull-right btn text-danger', type: 'button') do %>
        <i class='glyphicon glyphicon-trash'> </i>
      <% end %>
    <% end %>
    <span class="dataset-name">
      <span class="project-code"><%= link_to project.code, project %></span>
      <% if dataset.nil? %>
        <span class='text-danger'>Missing dataset</span>
      <% else %>
        <% qi = dataset.metadata[:quality] %>
        <% unless qi.nil? %>
          <i class="glyphicon glyphicon-adjust small text-light-<%=
              { excellent: 'success', high: 'info',
                intermediate: 'warning', low: 'danger' }[qi.to_sym]
          %>" rel="tooltip" title="<%= qi.capitalize %> quality genome"> </i>
        <% end %>
        <%= link_to_reference_dataset(project, dataset.name) %>
      <% end %>
    </span>
  <% end %>
  <%= render(
        partial: (expand_side ? 'datasets/side' : 'datasets/intax'),
        locals: { project: project, dataset: dataset, noname: noname }
      ) %>
  <% unless noname || dataset.nil? %>
    <span class="timestamp">
      Updated <%= time_ago_in_words Date.parse(dataset.metadata[:updated]) %>
      ago.
    </span>
  <% end %>
</div>

