<% provide(:title, 'Admin console') %>
<div class="row dashboard">
  <h1 class="my-4"><%= fa_icon('sliders-h') %> Admin console</h1>
  <div class="col-md-12 list-group">
    <%= list_item(query_datasets_path(all: true)) do %>
      <h4><%= fa_icon('list') %> All query datasets</h4>
      <p>Only admins can see all the query datasets registered in the system</p>
    <% end %>

    <%= list_item(projects_path(user_contributed: true, all: true)) do %>
      <h4><%= fa_icon('list-alt') %> All user-contributed projects</h4>
      <p>Only admins can see all the user-contributed projects in the system</p>
    <% end %>

    <%= list_item(new_project_path) do %>
      <h4><%= fa_icon(:star) %> Create new project</h4>
      <p>As an admin, you can create new projects for different species</p>
    <% end %>

    <%= list_item(lair_path) do %>
      <h4><%= fa_icon(:robot) %> Control and review daemons</h4>
      <p>Administrate and review the status of the daemons for all projects</p>
    <% end %>

    <%= list_item(users_path) do %>
      <h4><%= fa_icon(:users) %> Registered users</h4>
      <p>Only admins can see all the users in the system</p>
    <% end %>
    
    <%= list_item(unactivated_users_path) do %>
      <h4><%= fa_icon('user-check') %> Unactivated users</h4>
      <p>Only admins can activate users in the system</p>
    <% end %>

    <%= list_item(get_db_path) do %>
      <h4><%= fa_icon('cloud-download-alt') %> Download databases</h4>
      <p>Download a pre-indexed database from MiGA Online</p>
    <% end %>

    <%= list_item(project_discovery_path) do %>
      <h4><%= fa_icon(:link) %> Link existing projects</h4>
      <p>Link projects that are already in your data folder</p>
    <% end %>
  </div>
</div>
