<% provide(:title, 'Dashboard') %>

<div class="row dashboard">
  <h1 class="my-4"><%= fa_icon('tachometer-alt') %> Dashboard</h1>
  <div class="col-md-12 list-group">

    <% if Settings.user_create_projects %>
      <%= list_item(new_project_path) do %>
        <h4><%= fa_icon(:star) %> Create new project</h4>
        <p>Create your own project to compare multiple genomes among them</p>
      <% end %>
    <% end %>

    <%= list_item(query_datasets_path) do %>
      <h4><%= fa_icon('list-alt') %> Query datasets</h4>
      <p>You can upload new datasets to any available project</p>
    <% end %>

    <%= list_item(edit_user_path(current_user)) do %>
      <h4><%= fa_icon(:cog) %> Edit profile</h4>
      <p>Change your personal information</p>
    <% end %>
       
    <%= list_item(logout_path, method: :delete) do %>
      <h4><%= fa_icon(:user) %> Log out</h4>
      <p>Au revoir!</p>
    <% end %>
  </div>
</div>
