<%= provide(:title, "Sign up") %>
<h1>Sign up</h1>
<div class="row">
   <div class="col-md-6 col-md-offset-3">
      <%= form_for(@user) do |f| %>
	 <%= render "shared/error_messages", object: f.object %>
	 
	 <div class='alert alert-info'>
           <h3>Data privacy</h3>
           We intend to keep your data private, but your data may be subject to
           public disclosure due to security issues, programming error, human
           error, or other reasons. Please keep an up-to-date offline backup of
           your data at all times.
         </div>
         
         <%= f.label :name %>
	 <%= f.text_field :name, class: "form-control" %>

	 <%= f.label :email %>
	 <%= f.email_field :email, class: "form-control" %>

	 <%= f.label :password %>
	 <%= f.password_field :password, class: "form-control" %>

	 <%= f.label :password_confirmation, "Confirmation" %>
	 <%= f.password_field :password_confirmation, class: "form-control" %>

	 <%= f.submit "Create my account", class: "btn btn-primary" %>
      <% end %>
   </div>
</div>
