<% key_name = key.to_s.unmiga_name %>
<div class="result">
  <h3>
    <i class="glyphicon glyphicon-time"> </i>
    Currently running
  </h3>
  <div class="result-body">
    <p>
      <%= obj.name.unmiga_name %> is currently being processed for
      <b><%= key_name %></b>.
    </p>
    <% if key==:distances %>
      <%
        metric = obj.miga.project.metadata[:type]==:clade ? "ani" : "aai"
        med_file = File.expand_path(
          "data/09.distances/#{obj.miga.name}.#{metric}-medoids.tsv",
          obj.miga.project.path)
        lowest_med = nil
        File.open(med_file, "r") do |f|
          lowest_med = f.readlines.last.chomp.split(/\s+/)
        end if File.size?(med_file)
      %>
      <% unless lowest_med.nil? or lowest_med.empty? %>
        <%
          clade = lowest_med[3].gsub(/\.?\/miga-project\.sc/,"").gsub(/^-/,"")
        %>
        <p>
          The best available classification so far is:
          <%= link_to "Clade #{clade}",
                medoid_clade_path(obj.project.id, metric.upcase, clade)%>
          (<%= metric.upcase %> to <%= link_to lowest_med[1],
                reference_dataset_path(obj.project.id, lowest_med[1]) %>:
                <%= lowest_med[2].to_f.round 2 %>%).
        </p>
      <% end %>
    <% end %>
    <div class="panel panel-default" id=partial>
      <div class=panel-heading role=tab id=partial-h>
        <h4 class=panel-title>
          <a role=button data-toggle=collapse data-parent="#partial"
                class=btn href="#partial-b" aria-expanded=false
                aria-controls=partial-b>
            Partial <%= key_name %> log
          </a>
        </h4>
      </div>
      <div id=partial-b class="panel-collapse collapse"
            role=tabpanel aria-labelledby=partial-h>
        <div class="panel-body">
          <pre><%=
            obj.job_log(key_name)
          %></pre>
        </div>
      </div>
    </div>
  </div>
</div>
