<%=
  plot_quality(
    res[:stats][:completeness][0],
    res[:stats][:contamination][0],
    res[:stats][:quality]
  ) unless res[:stats][:quality].nil?
%>

<p>Genes commonly found in Bacteria and Archaea detected:</p>
<% unless res.file_path(:report).nil? %>
  <%= accordion('essential_genes', false) do |accordion| %>
    <%= accordion_card(accordion, 'report', 'Full report') do %>
      <div class="panel-body" style="padding-top:0;">
        <% File.open(res.file_path(:report), 'r') do |fh| %>
          <% fh.each_line do |ln| %>
            <% if ln =~ /^!   (\d+ )?([^:]+): (\S+: )?(.*)/ %>
              <%
                url = $2[0..3] == 'TIGR' ?
                  'https://www.ncbi.nlm.nih.gov/genome/annotation_prok/evidence/' :
                  'https://pfam.xfam.org/family/'
              %>
              <%= fa_icon('angle-right', class: 'ml-3') %>
              <b>
                <%= $1 %>
                <a target=_blank rel=noopener
                   href="<%= "#{url}#{$2}" %>"><%= $2 %></a>:
                   <%= $3 %>
              </b>
              <%= $4 %>
            <% else %>
               <%= ln.gsub(/^! ([^:]+):/, "<b>\\1:</b>").html_safe %>
            <% end %>
            <br/>
          <% end %>
        <% end %>
      </div>
    <% end %>
  <% end %>
<% end %>
<br/>
