<p>MiGA proposes the following clade(s) at the species level based on ANI:</p>
<div class="panel-group medoid-tree" role="tablist" aria-multiseletable="true">
<% i=0 %>
<% File.open(res.file_path(:proposal), "r") do |f| %>
  <% f.each_line do |ln| %>
    <% i+=1 %>
    <% r = ln.split /\s+/ %>
    <div class="panel panel-default" id=proposed_clade>
      <div class=panel-heading role=tab id="proposed_clade-h<%= i %>">
        <h4 class=panel-title>
          <a role=button data-toggle=collapse data-parent="#proposed_clade"
                class=btn href="#proposed_clade-b<%= i %>" aria-expanded=false
                aria-controls="proposed_clade-b<%= i %>">
            Species clade <%= i %> (<%= r.count %> datasets)
          </a>
        </h4>
      </div>
      <div id="proposed_clade-b<%= i %>" class="panel-collapse collapse"
            role=tabpanel aria-labelledby="proposed_clade-h<%= i %>">
        <div class=panel-body>
          <%= r.map do |ds| %>
            <% link_to ds.unmiga_name, reference_dataset_path(project.id, ds) %>
          <% end.to_sentence.html_safe %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
</div>
