<% unless res.file_path(:gff).nil? %>
  <%
    gff = Zlib::GzipReader.open(res.file_path(:gff), &:read)
    s = gff
        .split(/\n/) # Each line
        .select{ |l| l !~ /^#/ } # Ignore comments
        .map { |l| l.gsub(/.*;product=([^;]+).*/, "\\1") } # 16S/18S/&c
        .inject(Hash.new(0)) { |t, e| t[e] += 1 ; t } # Count each
        .map { |l, c| pluralize c, l }.to_sentence # Human-readable
  %>
  <% if s.empty? %>
    <p>MiGA didn't detect SSU sequences.</p>
  <% else %>
    <p>
      MiGA found <%= s %>
      <% info_msg_id = info_modal('RDP Classifier') do %>
        <div id="ssu-rdp"></div>
      <% end %>
      <% ds_name = obj.is_a?(MiGA::Dataset) ? obj.name : obj.miga_name %>
      <div class="text-center">
        <%=
          link_to(
            'Classify with RDP',
            obj.is_a?(MiGA::Dataset) ?
              rdp_classify_url(project.id, ds_name) :
              rdp_classify_url(0, ds_name, user_id: obj.user_id),
            class: 'btn btn-block btn-primary',
            type: :button,
            id: 'link-ssu-rdp',
            remote: true,
            data: {
              target: "##{info_msg_id}",
              url:
                obj.is_a?(MiGA::Dataset) ?
                  rdp_classify_as_url(project.id, ds_name) :
                  rdp_classify_as_url(0, obj.acc, user_id: obj.user_id)
            }
          )
        %>
      </div>
    </p>
    <script>
      $("#link-ssu-rdp").click(function(event){
        var m = $($(this).data("target"));
        var t = $("#ssu-rdp")
        m.modal('show');
        if(!t.data('loaded')){
          t.html("Contacting RDP...")
          t.load($(this).data('url'));
          t.data('loaded', true);
        }
        event.preventDefault();
        event.stopPropagation();
      })
    </script>
    <%= accordion('result-ssu', false) do |accordion| %>
      <%= accordion_card(accordion, 'gff', 'Feature locations') do %>
        <div class="panel-body table-responsive">
          <table class="table table-hover">
            <thead><tr>
              <th>Contig</th>
              <th>Location</th>
              <th>Product</th>
            </tr></thead>
            <tbody>
            <% gff.each_line do |ln| %>
              <% next if ln =~ /^#/ %>
              <% row = ln.chomp.split(/\t/) %>
              <tr>
                <td><%= row.first %></td>
                <td><%= "#{row[3]}-#{row[4]} (#{row[6]})" %></td>
                <td><%= row[8].gsub(/.*product=/, "").
                      gsub(/;note=/,", ") %></td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      <% end %>
    <% end %>
  <% end %>
<% end %>
<br/>
