<% noname ||= false %>
<% expand_side ||= false %>
<li id="dataset-<%= dataset.name %>" class="dataset-box">
  <% unless noname %>
    <span class="name">
      <span class="project"><%= link_to project.code, project %> | </span>
      <% qi = dataset.metadata[:quality] %>
      <% unless qi.nil? %>
        <i class="glyphicon glyphicon-adjust small text-light-<%=
            {excellent:"success", high:"info",
              intermediate:"warning", low:"danger"}[qi.to_sym]
        %>" rel="tooltip" title="<%= qi.capitalize %> quality genome"> </i>
      <% end %>
      <%= link_to dataset.name.unmiga_name,
            reference_dataset_path(project.id, dataset.name) %>
    </span>
  <% end %>
  <%= render partial: (expand_side ? "dataset_side" : "dataset_intax"),
    locals: { project: project, dataset: dataset, noname: noname }%>
  <span class="metadata">
    <% dataset.metadata.each do |k,v| %>
      <% next if [:type, :ref, :created, :updated, :user, :tax,
            :quality].include? k %>
      <% k_str = k.to_s.unmiga_name.capitalize %>
      <%
        case k
        when :comments
          if /(.*)Assembly: (\S+)(.*)/.match(v)
            v = "#{$1}<a href='https://www.ncbi.nlm.nih.gov/assembly/#{$2}/' " +
                  "target=_blank>Assembly: #{$2}</a>#{$3}"
          end
        when :ncbi_tax_id
          k_str = "NCBI TaxID"
          v = v.split(/[,;]/).map do |i|
            "<a href='http://www.uniprot.org/taxonomy/#{i}' " +
              "target=_blank>#{i}</a>"
          end.join(", ")
        when :ncbi_nuccore
          k_str = "NCBI Nucleotide"
          v = v.split(/[,;]/).map do |i|
            "<a href='https://www.ncbi.nlm.nih.gov/nuccore/#{i}' " +
              "target=_blank>#{i}</a>"
          end.join(", ")
        when :see_also
          k_str = "See also"
          v = v.split(/[,;]/).map do |i|
            l = i.split(/:/, 2)
            "<a href='#{l[1]}' target=_blank>#{l[0]}</a>"
          end.join(", ")
        end
      %>
      <b><%= k_str %>:</b> <%= v.html_safe %>
    <% end %>
  </span>
  <% unless noname %>
    <span class="timestamp">
      Updated <%= time_ago_in_words Date.parse(dataset.metadata[:updated]) %>
      ago.
    </span>
  <% end %>
</li>
