<% noname ||= false %>
<% expand_side ||= false %>
<li id="dataset-<%= dataset.name %>" class="dataset-box">
  <% unless noname %>
    <span class="name">
      <span class="project"><%= link_to project.code, project %> | </span>
      <% qi = dataset.metadata[:quality] %>
      <% unless qi.nil? %>
        <i class="glyphicon glyphicon-adjust small text-light-<%=
            {excellent:"success", high:"info",
              intermediate:"warning", low:"danger"}[qi.to_sym]
        %>" rel="tooltip" title="<%= qi.capitalize %> quality genome"> </i>
      <% end %>
      <%= link_to_reference_dataset(project, dataset.name) %>
    </span>
  <% end %>
  <%= render partial: (expand_side ? "dataset_side" : "dataset_intax"),
    locals: { project: project, dataset: dataset, noname: noname }%>
  <span class="metadata">
    <% dataset.metadata.each do |k,v| %>
      <% next if [:type, :ref, :created, :updated, :user, :tax,
            :quality, :is_type].include? k %>
      <% k_str = k.to_s.unmiga_name.capitalize %>
      <%
        ext_links = {
          ncbi_tax_id: ["NCBI TaxID", "http://www.uniprot.org/taxonomy/"],
          ncbi_nuccore: ["NCBI Nucleotide",
                "https://www.ncbi.nlm.nih.gov/nuccore/"],
          ebi_ena: ["EBI ENA", "https://www.ebi.ac.uk/ena/data/view/"],
          ebi_embl: ["EBI EMBL", "https://www.ebi.ac.uk/embl/data/view/"],
          dprotologue: ["Digital Protologue Database",
                "http://imedea.uib-csic.es/dprotologue/getPdfTX.php?taxonumber="]
        }
        case k
        when :comments
          if /(.*)Assembly: (\S+)(.*)/.match(v)
            v = "#{$1}<a href='https://www.ncbi.nlm.nih.gov/assembly/#{$2}/' " +
                  "target=_blank>Assembly: #{$2}</a>#{$3}"
          end
        when *ext_links.keys
          k_str = ext_links[k][0]
          v = v.split(/[,;]/).map do |i|
            "<a href='#{ext_links[k][1]}#{i}' target=_blank>#{i}</a>"
          end.join(", ")
        when :see_also
          k_str = "See also"
          v = v.split(/[,;]/).map do |i|
            l = i.split(/:/, 2)
            "<a href='#{l[1]}' target=_blank>#{l[0]}</a>"
          end.join(", ")
        end
      %>
      <b><%= k_str %>:</b> <%= v.to_s.html_safe %>
    <% end %>
  </span>
  <% unless noname %>
    <span class="timestamp">
      Updated <%= time_ago_in_words Date.parse(dataset.metadata[:updated]) %>
      ago.
    </span>
  <% end %>
</li>
