<div class="card card-project">
  <div class="project-content card-body">
    <%= project_code(project) %>

    <div class="project-body">
      <div class="project-name">
        <% if project.private? %>
          <%= fa_icon(:lock, title: 'private') %>
        <% end %>
        
        <% if project.miga.nil? %>
          <%= project.path.unmiga_name %>
          <span class='text-danger'>Project Not Available</span>
        <% else %>
          <% if project.daemon_active? %>
            <%=
              fa_icon(
                'check-circle',
                class: 'text-success',
                title: "active #{time_ago_in_words(project.daemon_last_alive)} ago"
              )
            %>
          <% else %>
            <%=
              fa_icon(
                'minus-circle', class: 'text-danger', title: 'inactive'
              )
            %>
          <% end %>

          <%=
            link_to(
              project.path_name, project,
              title: project.miga.metadata[:description]
            )
          %>
        <% end %>
      </div>

      <% unless project.miga.nil? %>
        <div class="project-info">
          <%= pluralize(project.ref_datasets.size, 'reference dataset') %>
        </div>
      <% end %>
    </div>
    <div class="timestamp float-right">
      <% date  = project.updated_at %>
      <% index = false %>
      <% if project.last_db_update %>
        <% index = true %>
        <% date  = project.last_db_update %>
      <% elsif project.miga.try(:metadata).try(:updated) %>
        <% date  = project.miga.metadata.updated %>
      <% end %>

      <% unless index %>
        <span class="text-danger">No index</span>
      <% end %>
      <span title="<%= date %>">
        <%= fa_icon(:history) %>
        <%= time_ago_in_words(date) %>
      </span>
    </div>
  </div>
</div>
