<% provide(:title, 'Control daemons') %>

<% daemon_modal_id = info_modal('Contacting server...') do %>
  <%= image_tag('loading.gif') %>
  Connecting to daemon
<% end %>

<div class="row">
  <div class="col-lg-10 offset-lg-1">
    <h1 class="mt-5">Control daemons</h1>
    <hr/>
    <div class="row">
    <div class="col-md-6">
      <div class="card text-center">
        <div class="card-header"><h3>
          <%= fa_icon('robot') %>&nbsp;
          Daemons controller
        </h3></div>
        <div class="card-body">
          <div class="custom-control custom-switch" style="margin: 0.45em 0;">
            <input type="checkbox" class="custom-control-input"
                  id="lair-daemon-toggle" <%= 'checked' if @lair.active? %>>
            <label class="custom-control-label" for="lair-daemon-toggle">
              Toggle to turn the controller on or off
            </label>
          </div>
          <script>
            $('#lair-daemon-toggle').change(function(){
              $('#<%= daemon_modal_id %>').modal('show');
              window.location.replace('<%= lair_toggle_url %>');
            });
          </script>
        </div>
        <% unless @lair.last_alive.nil? %>
          <div class="card-footer">
            <b>Last seen alive:</b>
            <%= time_ago_in_words @lair.last_alive %> ago
          </div>
        <% end %>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card text-center">
        <div class="card-header"><h3>
          <%= fa_icon(:bullhorn) %>&nbsp;
          Broadcast signal
        </h3></div>
        <div class="card-body">
          <%= link_to 'Launch all daemons', daemon_start_all_url,
                class: 'btn btn-primary' %>
          <%= link_to 'Terminate all daemons', daemon_stop_all_url,
                class: 'btn btn-danger' %>
        </div>
        <div class="card-footer">
          Turn on or off the daemons of all projects
        </div>
      </div>
    </div>

    <div class="col-md-12 mt-5">
      <div class="card">
        <div class="card-header text-center"><h3>
          <%= fa_icon(:tasks) %>&nbsp;
          Individual project daemons
        </h3></div>

        <table class="table">
          <tr>
            <th>Name</th>
            <th>Datasets</th>
            <th>Last seen alive</th>
            <th>Daemon</th>
          </tr>
          <% @projects.each do |project| %>
            <tr>
              <td><%= link_to project.path, project %></td>
              <% if project.miga.nil? %>
                <td>Unreachable</td> <td>Unreachable</td> <td> </td>
              <% else %>
                <td><%= project.miga.dataset_names.size %></td>
                <td>
                  <% daemon = MiGA::Daemon.new(project.miga) %>
                  <% la = daemon.last_alive %>
                  <%= "#{time_ago_in_words(la)} ago" unless la.nil? %>
                </td>
                <td>
                  <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input"
                           id="daemon-toggle-<%= project.id %>"
                           <%= 'checked' if daemon.active? %>>
                    <label class="custom-control-label"
                           for="daemon-toggle-<%= project.id %>">
                      <%= daemon.active? ? 'on' : 'off' %>
                    </label>
                  </div>
                  <script>
                    $('#daemon-toggle-<%= project.id %>').change(function(){
                      $('#<%= daemon_modal_id %>').modal('show');
                      window.location.replace('<%= daemon_toggle_url(project.id) %>');
                    });
                  </script>
                </td>
              <% end %>
            </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>
  </div>
</div>
<br/>
