<% provide(:title, 'New project') %>
<h1>New project</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@project) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= hidden_field_tag :user_id, current_user.id %>

      <%= f.label :path %>
      <%= f.text_field :path, class: 'form-control' %>

      <%= label_tag :type %>
      <%= select_tag(:type, options_for_select(
            MiGA::Project.KNOWN_TYPES.
              map{ |k,t| [ k.to_s.capitalize + ': ' + t[:description], k ] },
              selected: :genomes),
            class: 'form-control') %>

      <%= f.label :private, class: 'checkbox inline', style: 'margin-top:0;' do  %>
        <%= f.check_box :private, checked: !current_user.admin? %>
        <span>Keep project private</span>
      <% end %>

      <% if current_user.admin? %>
        <%= f.label :official, class: 'checkbox inline', style: 'margin-top:0;' do %>
          <%= f.check_box :official, checked: true %>
          <span>Make this project an official site database</span>
        <% end %>
      <% end %>

      <hr/>
      <h1>Identity Engines</h1>
      <%= label_tag :ani_p, 'ANI Engine' %>
      <%= select_tag(:ani_p, options_for_select(
            [
              ['BLAST+ (more sensitive)','blast+'],
              ['FastANI (faster)','fastani'],
              ['BLAT','blat'], ['Legacy BLAST','blast']
            ],
            selected: 'blast+'), class: 'form-control') %>

      <%= label_tag :aai_p, 'AAI Engine' %>
      <%= select_tag(:aai_p, options_for_select(
            [
              ['BLAST+ (more sensitive)', 'blast+'],
              ['Diamond (faster)','diamond'],
              ['Legacy BLAST','blast']
            ],
            selected: 'blast+'), class: 'form-control') %>

      <%= label_tag :haai_p, 'hAAI Engine' %>
      <%= select_tag(:haai_p, options_for_select(
            [['BLAST+ (recommended)','blast+'], ['Diamond','diamond'],
              ['Legacy BLAST','blast'], ['Bypass hAAI','no']],
            selected: 'blast+'), class: 'form-control') %>

      <hr/>
      <h1>Optional information</h1>
      <%= label_tag :name, 'Name' %>
      <%= text_field_tag :name, '', class: 'form-control' %>

      <%= label_tag :description, 'Description' %>
      <%= text_field_tag :description, '', class: 'form-control' %>

      <%= label_tag :comments, 'Comments' %>
      <%= text_area_tag :comments, '', class: 'form-control' %>

      <%= f.submit 'Create new MiGA project', class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
