<% provide(:title, @project.path_name) %>
<% provide(:breadcrumb_1, link_to("Projects", projects_path)) %>
<div class="row projects">
   <aside class="col-md-4">
      <%= render partial: "shared/menu_datasets",
	 locals: { project: @project, ds_counts: @project.dataset_counts(current_user),
	 ref_datasets: true, qry_datasets: false } %>
   </aside>
   <div class="col-md-8">
      <% if @project.ref_datasets.any? %>
	 <h3><%= pluralize(@project.ref_datasets.count, "reference datasets") %></h3>
	 <%= will_paginate @datasets %>
	 <ol class="datasets">
	    <% @datasets.each do |dataset| %>
	       <%= render partial: "dataset",
		  object: @project.miga.dataset(dataset),
		  locals: { project: @project } %>
	    <% end %>
	 </ol>
	 <%= will_paginate @datasets %>
      <% end %>
   </div>
</div>
