<% provide(:title, @project.path_name) %>
<% provide(:breadcrumb_1, link_to("Projects", projects_path)) %>
<div class="row">
  <aside class="col-md-4">
    <%= render partial: "shared/menu_datasets",
      locals: { project: @project,
      ds_counts: @project.dataset_counts(current_user),
      ref_datasets: false, qry_datasets: false } %>
  </aside>
  <div class="col-md-8">
    <h3><%= @project.path_name %> project</h3>
    <div class='result'><div class='result-body'>
      <p>
        Initialized as
        <u rel="tooltip" title="<%=
          MiGA::Project.KNOWN_TYPES[@project.miga.metadata[:type] ][:description]
        %>"><%= @project.miga.metadata[:type] %></u>
        <%= time_ago_in_words @project.miga.metadata[:created] %> ago.
      </p>
      <h4>Identity Engines</h4>
      <p>
        <abbr title='Heuristic AAI'>hAAI</abbr>:
          <%= @project.miga.metadata[:haai_p] || 'blast+' %>,
        <abbr title='Average Amino Acid Identity'>AAI</abbr>:
          <%= @project.miga.metadata[:aai_p] || 'blast+' %>,
        <abbr title='Average Nucleotide Identity'>ANI</abbr>:
          <%= @project.miga.metadata[:ani_p] || 'blast+' %>.
      </p>
    </div></div>
    <% results_to_load = [] %>
    <% MiGA::Project.RESULT_DIRS.keys.each do |k| %>
      <% if res = @project.miga.result(k) %>
        <div id="project_result_<%= k %>">
          <h3 class="result-title">
            <i class="glyphicon glyphicon-tasks"> </i>
            <%= image_tag("loading.gif") %>
            <%= k.to_s.unmiga_name.capitalize %>
          </h3>
        </div>
        <% results_to_load << k %>
      <% end %>
    <% end %>
    <script>
      <% results_to_load.each do |k| %>
        $.ajax(
          { url: "<%= project_result_partial_path(@project, k) %>" }
        ).done(function(data){ $("#project_result_<%= k %>").html(data) });
      <% end %>
    </script>
  </div>
</div>
