<footer class="footer">
   <nav>
      <ul>
	 <li><%= link_to "About", about_path %></li>
	 <li><%= link_to "Contact", contact_path %></li>
	 <li><%= link_to "News", "http://enve-omics.ce.gatech.edu/miga" %></li>
      </ul>
   </nav>
   <small>
      <p>
	 MiGA Web by Luis M. Rodriguez-R<br/>
	 Powered by <%= MiGA::MiGA.LONG_VERSION.gsub(/ - \S+$/,"") %>
      </p>
      <%= link_to image_tag("MiGA.png", alt: "MiGA logo"), "http://enve-omics.ce.gatech.edu/miga" %>
      <p style="height:130px"></p>
   </small>
</footer>
