<footer class="footer container-fluid">
  <div class="row">
    <div class="col-md-8">
      <nav>
        <ul class="left-col">
          <li><%= link_to "Help", "https://help.microbial-genomes.org/" %></li>
          <li><%= link_to "News", "http://miga.microbial-genomes.org/" %></li>
          <li><%= link_to "Contact", contact_path %></li>
          <li><%= link_to "About", about_path %></li>
          <li><%= link_to "Roadmap", "http://roadmap.microbial-genomes.org/" %></li>
        </ul>
      </nav>
    </div>
    <div class="col-md-4 text-right right-col">
      <small>
        <p>
          <%= link_to "MiGA Web by Luis M. Rodriguez-R",
                "http://code.microbial-genomes.org/miga-web",
                target: "_blank", rel: "noopener" %><br/>
          Powered by <%= link_to MiGA::MiGA.LONG_VERSION.gsub(/ - \S+$/,""),
                "http://code.microbial-genomes.org/miga",
                target: "_blank", rel: "noopener" %>
        </p>
      </small>
    </div>
  </div>
  <div class="row center">
    <div class="col-sm-4">
      <%= link_to image_tag("MiGA.png", alt: "MiGA logo"),
            "http://miga.microbial-genomes.org/",
            target: "_blank", rel: "noopener" %>
    </div>
    <div class="col-sm-4">
      <h4>Funded by:</h4>
      <%= link_to "US National Science Foundation",
            "http://nsf.gov/", target: "_blank", rel: "noopener" %><br/>
      <%= link_to "Award #1356288",
            "http://nsf.gov/awardsearch/showAward?AWD_ID=1356288",
            target: "_blank", rel: "noopener" %>
    </div>
    <div class="col-sm-4">
      <h4>A collaboration between:</h4>
      <%= link_to image_tag("GT.png", alt: "Georgia Tech logo"),
            "http://enve-omics.gatech.edu/",
            target: "_blank", rel: "noopener" %>
      <%= link_to image_tag("RDP.png", alt: "RDP logo"),
            "http://rdp.cme.msu.edu/",
            target: "_blank", rel: "noopener" %>
    </div>
  </div>
</footer>
