<header class="navbar navbar-fixed-top navbar-inverse">
  <div class=container>
    <nav>
      <%= link_to 'MiGA', root_url, id: 'logo' %>
      <div class=crumb>
        <% (0 .. 9).each do |i| %>
          <%= breadcrumb(yield "breadcrumb_#{i}".to_sym) %>
        <% end %>
        <%= breadcrumb(truncate(yield(:title), length:15)) %>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a class=dropdown-toggle data-toggle=dropdown type=button>
            Projects
            <span class=caret></span>
          </a>
          <ul class=dropdown-menu role=menu aria-labelledby=dropdownMenu>
            <%
              menu = [
                ['Public', :globe, projects_path],
                ['User-contributed', :user,
                  projects_path(user_contributed: true)],
                ['Clade', 'tree-deciduous', projects_path(type: :clade)]
              ]
              if logged_in? && Settings.user_projects
                menu.unshift ['Private', :lock, projects_path(private: true)]
              end
            %>
            <% menu.each do |item| %>
              <li>
                <%= link_to item[2] do %>
                  <%= glyph item[1] %> <%= item[0] %>
                <% end %>
              </li>
            <% end %>
          </ul>
        </li>
        <% if logged_in? %>
          <% new_ds = QueryDataset.complete_new_by_user(current_user).count %>
          <% if new_ds > 0 %>
            <li>
              <%= link_to query_datasets_path(complete_new:true) do %>
                <span class=badge><%= new_ds %> ready</span>
              <% end %>
            </li>
          <% end %>
          <li>
            <a class=dropdown-toggle data-toggle=dropdown type=button>
              <%= gravatar_for(current_user, size:20) %>
              <span class=caret></span>
            </a>
            <ul class=dropdown-menu role=menu aria-labelledby=dropdownMenu>
              <li><%= link_to dashboard_url do %>
                <i class="glyphicon glyphicon-dashboard"> </i> Dashboard
              <% end %></li>
              <% if current_user.admin? %>
                <li><%= link_to admin_url do %>
                  <i class="glyphicon glyphicon-wrench"> </i> Admin console
                <% end %></li>
              <% end %>
              <li><%= link_to query_datasets_path do %>
                <i class="glyphicon glyphicon-list"> </i> Query datasets
              <% end %></li>
              <li class=divider></li>
              <li><%= link_to logout_path, method: :delete do %>
                <i class="glyphicon glyphicon-user"> </i> Log out
              <% end %></li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to 'Log in', login_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
