<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow d-flex">
  <div class="mx-4"></div>
  <%= link_to('MiGA', root_url, id: 'logo', class: 'nav-link') %>
  <ul class="nav justify-content-end flex-fill">
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#"
          role="button" aria-haspopup="true" aria-expanded="false">Projects</a>
      <div class="dropdown-menu dropdown-menu-right">
        <%
          menu = [
            ['Public', :globe, projects_path],
            ['User-contributed', :user, projects_path(user_contributed: true)],
            ['Clade', :tree, projects_path(type: :clade)]
          ]
          if logged_in? && Settings.user_projects
            menu.unshift ['Private', :lock, projects_path(private: true)]
          end
        %>
        <% menu.each do |item| %>
          <%= link_to(item[2], class: 'dropdown-item') do %>
            <%= fa_icon item[1] %> <%= item[0] %>
          <% end %>
        <% end %>
      </div>
    </li>

    <% if logged_in? %>
      <% new_ds = QueryDataset.complete_new_by_user(current_user).count %>
      <% if new_ds > 0 %>
        <li class="nav-item">
          <%= link_to(query_datasets_path(complete_new: true)) do %>
            <span class="badge badge-info mt-2"><%= new_ds %> ready</span>
          <% end %>
        </li>
      <% end %>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#"
            role="button" aria-haspopup="true" aria-expanded="false">
          <%= gravatar_for(current_user, size:20) %>
        </a>
        <div class="dropdown-menu dropdown-menu-right">
          <%= link_to(dashboard_url, class: 'dropdown-item') do %>
            <%= fa_icon 'tachometer-alt' %> Dashboard
          <% end %>
          <% if current_user.admin? %>
            <%= link_to(admin_url, class: 'dropdown-item') do %>
              <%= fa_icon 'user-plus' %> Admin console
            <% end %>
          <% end %>
          <%= link_to(query_datasets_path, class: 'dropdown-item') do %>
            <%= fa_icon 'list-alt' %> Query datasets
          <% end %>
          <div class="dropdown-divider"></div>
          <%= link_to(logout_path, method: :delete, class: 'dropdown-item') do %>
            <%= fa_icon :user %> Log out
          <% end %>
        </div>
      </li>
    <% else %>
      <li class="nav-item">
        <%= link_to('Log in', login_path, class: 'nav-link') %>
      </li>
    <% end %>
  </ul>
  <div class="mx-4"></div>
</nav>

