<header class="navbar navbar-fixed-top navbar-inverse">
   <div class="container">
      <nav>
	 <%= link_to "MiGA Clades", "/", id: "logo" %>
	 <div class="crumb">
	    <% (0 .. 9).each do |i| %>
	       <%= breadcrumb(yield "breadcrumb_#{i}".to_sym) %>
	    <% end %>
	    <%= breadcrumb(yield :title) %>
	 </div>
	 <ul class="nav navbar-nav navbar-right">
	    <li><%= link_to "Home", root_path %></li>
	    <li><%= link_to "Help", help_path %></li>
	    <li><%= link_to "Projects", projects_path %></li>
	    <% if logged_in? %>
	       <li><%= link_to current_user.name, current_user %></li>
	       <li>
		  <a class="dropdown-toggle" data-toggle="dropdown" type="button">
		      <span class="caret"></span>
		  </a>
		  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
		     <li><%= link_to "Dashboard", current_user %></li>
		     <li><%= link_to "Settings", edit_user_path(current_user) %></li>
		     <li><%= link_to "Query datasets", query_datasets_path %></li>
		     <li class="divider"></li>
		     <li><%= link_to "Log out", logout_path, method: :delete %></li>
		  </ul>
	       </li>
	    <% else %>
	       <li><%= link_to "Log in", login_path %></li>
	    <% end %>
	 </ul>
      </nav>
   </div>
</header>
