<!DOCTYPE html>
<html lang=en>
<head>
   <title><%= full_title(yield :title) %></title>
   <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
   <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
   <%= javascript_include_tag 'https://cdn.plot.ly/plotly-latest.min.js', 'data-turbolinks-track' => true, 'async' => true %>
   <%= render 'layouts/shim' %>
   <%= csrf_meta_tags %>
   <%= yield :head %>
</head>
<body>
   <%= render 'layouts/header' %>
   <div class="container wrapper">
      <% flash.each do |message_type, message| %>
	 <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
      <%= yield %>
      <div class="push"></div>
   </div>
   <%= info_msg_content %>
   <%= render 'layouts/footer' %>
   <%= debug(params) if Rails.env.development? %>
   <script>
      $(function(){ $("[rel=tooltip]").tooltip({ placement: 'top'}); });
   </script>
</body>
</html>
